<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tripplist</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>

    <body>

        <header class="page-header">
            <img class="logo" src="../images/logo-tripplist.png" alt="logo tripplist">
            <button class="add-trip-button">ADD TRIP</button>
        </header>

        <main>
            
            <section class="planned-trips">
                
            </section>

            <section class="wish-list">
                
            </section>

            <section class="trip-down-memory-lane">
                
            </section>
        </main>

        <footer class="page-footer">
            <p>This is a footer</p>
        </footer>

    </body>
</html>
