<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tripplist</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>

    <body>

        <header class="page-header">
            <img class="logo" src="../images/logo-tripplist.png" alt="logo tripplist">
            <button class="add-trip-button">ADD TRIP</button>
        </header>

        <main>
            
            <section class="planned-trips">
                <div class="travel-card">
                    <img class="destination-pic" src="../images/amsterdam.jpg" alt="picture of city">
                    <div class="travel-details">
                        <form>
                            <div class="travel-locations">
                                <label>From</label>
                                <input id="starting-point" class="form-control" type="text" name="starting-point" placeholder="Traveling from ...">
                                <label>To</label>
                                <input id="destination" class="form-control" type="text" name="destination" placeholder="Traveling to ...">
                            </div>
                            <div class="travel-times">
                                <label>From</label>
                                <input id="departure-date" class="form-control" type="text" name="departure-date" placeholder="Departure date ...">
                                <label>To</label>
                                <input id="end-date" class="form-control" type="text" name="end-date" placeholder="Up to ...">
                            </div>
                        </form>
                        <div class="days-to-departure"></div>
                        <div class="typical-weather">
                            <h3>The typical weather during your travel period is</h3>
                            <h4>high [value] - low [value]</h4>
                            <h4>cloudy [value]</h4>
                        </div>
                        <button class="remove-trip-button">REMOVE TRIP</button>
                    </div>
                </div>
            </section>

            <section class="wish-list">
                
            </section>

            <section class="trip-down-memory-lane">
                
            </section>
        </main>

        <footer class="page-footer">
            <p>This is a footer</p>
        </footer>

    </body>
</html>
