body {
    background-color: peachpuff;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 70px auto auto auto 100px;
    grid-template-areas:
      "header header header"
      "side-bar planned-list side-bar"
      "side-bar wish-list side-bar"
      "side-bar expired-list side-bar"
      "footer footer footer"
  }

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: orange;
}

.logo {
    grid-area: header;
    height: 50px;
    margin: 5px;
}

.add-trip-button {
    grid-area: header;
    width: 120px;
    margin: 10px;
}

.planned-trips {
    grid-area: planned-list;
    display: flex;
    justify-content: center;
    margin: 20px
}

.travel-card {
    grid-area: planned-list;
    display: flex;
    flex-direction: row;
    border: 3px solid orange;
    border-radius: 3px;
    background-color:papayawhip;
    width: 95%;
}

.destination-pic {
    grid-area: planned-list;
    width: 40%;
    object-fit: cover;
}

.travel-details {
    margin: 10px;
}

.wish-list {
    grid-area: wish-list;
    display: flex;
}

.trip-down-memory-lane {
    grid-area: expired-list;
    display: flex;
}

.page-footer {
    grid-area: footer;
    display: flex;
}