/* font-family: 'Grandstander', cursive;
font-family: 'Kufam', cursive; */

html,body{
    height: 100%;
  }

body {
    background-color: lightyellow;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 2.5% 1fr 2.5%;
    grid-template-rows: 70px 1fr 1fr 1fr 100px;
    grid-template-areas:
      "header header header"
      ". plannedlist ."
      ". wishlist ."
      ". expiredlist ."
      "footer footer footer";
    height: 100%;
  }

.cards:empty::before {
    content: "No trips yet";
    font-family: 'Grandstander', cursive;
    color:gray;

}

.page-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: orange;
}

.logo {
    grid-area: header;
    height: 50px;
    margin-left: 10px;
}

.add-trip-button {
    grid-area: header;
    width: 160px;
    height: 50px;
    margin-right: 10px;
}

#popup-form {
    display: none;
    grid-area: plannedlist-start / plannedlist-start / expiredlist-end / expiredlist-end;
    background-image: url('../images/palm-trees.jpg');
    background-size: cover;
    z-index: 1;
    margin: 25px 0px 25px 0px;
}

.add-trip-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: lightyellow;
    margin: 200px;
    padding-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: lightseagreen;
    font-size: 26px;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }

.save-trip {
    width: 375px;
    height: 40px;
    margin-top:20px;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: solid 2px green;
}

.section-title {
    color:darkorange;
    font-family:'Anton', sans-serif;
    align-self: start;   
}

.planned-trips {
    grid-area: plannedlist;
    display: flex;
    flex-direction: column;
}

.travel-card {
    display: flex;
    flex-direction: row;
    border: 3px solid orange;
    border-radius: 3px;
    background-color:papayawhip;
    width: 95%;
    margin-bottom: 20px;
    font-family: 'Grandstander', cursive;
}

.destination-pic {
    width: 40%;
    object-fit: cover;
    overflow: hidden;
}

.travel-details {
    margin: 10px;
}

.type-of-trip {
    margin-bottom: 10px;
}

.travel-locations {
    margin-bottom: 10px;
}

.travel-times{
    margin-bottom: 10px;
}

.wish-list {
    grid-area: wishlist;
    display: flex;
    flex-direction: column;
}

.trip-down-memory-lane {
    grid-area: expiredlist;
    display: flex;
    flex-direction: column;
}

.page-footer {
    grid-area: footer;
    display: flex;
    background-color: orange;
    width: 100%;
    font-family: 'Grandstander', cursive;

}

