/* font-family: 'Grandstander', cursive;
font-family: 'Kufam', cursive; */

body {
    background-color: lightyellow;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 70px auto auto auto 100px;
    grid-template-areas:
      "header header header"
      "sidebar plannedlist sidebar"
      "sidebar wishlist sidebar"
      "sidebar expiredlist sidebar"
      "footer footer footer"
  }

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: orange;
}

.logo {
    grid-area: header;
    height: 50px;
    margin: 5px;
}

.add-trip-button {
    grid-area: header;
    width: 120px;
    margin: 10px;
}

.section-title {
    color:darkorange;
    font-family:'Anton', sans-serif;
    align-self: start;   
}

#planned-trips {
    grid-area: plannedlist;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.travel-card {
    display: flex;
    flex-direction: row;
    border: 3px solid orange;
    border-radius: 3px;
    background-color:papayawhip;
    width: 95%;
    margin-bottom: 20px;
    font-family: 'Grandstander', cursive;
}

.destination-pic {
    width: 40%;
    object-fit: cover;
}

.travel-details {
    margin: 10px;
}

.type-of-trip {
    margin-bottom: 10px;
}

.travel-locations {
    margin-bottom: 10px;
}

.travel-times{
    margin-bottom: 10px;
}

#wish-list {
    grid-area: wishlist;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px
}

#trip-down-memory-lane {
    grid-area: expiredlist;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px
}

.page-footer {
    grid-area: footer;
    display: flex;
    background-color: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Grandstander', cursive;

}

.cards:empty::before {
    content: "No trips yet";
    font-family: 'Grandstander', cursive;
    color:gray;

  }